extends ../layout

block content
	h1.
		#{title}
	p
		Sigma Samples

	ul
		li
			a(href='/sigma/basic') Basic Sigma
		li
			a(href='/sigma/neo4j') Neo4j Sigma
		li
			a(href='https://google.com') Google

