extends ../layout

block content
	h1.
		User Add #{uri}
	nav(aria-label='breadcrumb')
		ol.breadcrumb
			li.breadcrumb-item
				a(href='#') Home
			li.breadcrumb-item
				a(href='/users/list') Users
			li.breadcrumb-item.active(aria-current='page') Add

	form#formAddFood(name="add-food" method="post" action="/users/add")
		.form-group
			label(for='UserName1') User Name
			input#UserName1.form-control(type='text', name="username", aria-describedby='emailHelp', placeholder='Enter User name')
			small#emailHelp.form-text.text-muted We'll never share your name with anyone else.
		.form-group
			label(for='UserYear1') User Born
			input#UserYear1.form-control(type='text', name="useryear", aria-describedby='emailHelp', placeholder='Enter User birth year')
			small#emailHelp.form-text.text-muted We'll never share your birth details with anyone else.
		.form-group.form-check
			input#exampleCheck1.form-check-input(type='checkbox')
			label.form-check-label(for='exampleCheck1') Check me out
		button.btn.btn-primary(type='submit') Add


