extends ../layout

block content
	nav(aria-label='breadcrumb')
		ol.breadcrumb
			li.breadcrumb-item
				a(href='#') Home
			li.breadcrumb-item.active(aria-current='page') All Users

	a.btn.btn-primary.btn-xs(href='/users/add', role='button') Add
	a.btn.btn-primary.btn-xs(href='/users/listapi', role='button') List API
	br
	ul.list-group
		each person, i in people
			li.list-group-item(href="/users/read?id="+person.id)
				p
					= person.id
					br
					= person.name
					br
					= person.born
				p
					a(href="/users/read?uri="+person.id) Show
					a(href='/users/edit?uri='+person.id) Edit
					a(href="/users/delete?uri="+person.id) Delete
	br
	nav(aria-label='Page navigation example')
		ul.pagination
			li.page-item
				a.page-link(href='#') Previous
			li.page-item
				a.page-link(href='#') 1
			li.page-item
				a.page-link(href='#') 2
			li.page-item
				a.page-link(href='#') 3
			li.page-item
				a.page-link(href='#') Next


