
extends ../layout

block content
	nav(aria-label='breadcrumb')
		ol.breadcrumb
			li.breadcrumb-item
				a(href='/') Home
			li.breadcrumb-item
				a(href='/foods/list') Food
			li.breadcrumb-item View
			li.breadcrumb-item.active(aria-current='page') #{uri}

	a.btn.btn-primary.btn-xs(href='/foods/edit?uri='+uri, role='button') Edit

	.form-group.row
		label.col-sm-2.col-form-label(for='foodName') Food Name
	.col-sm-10
		input#staticEmail.form-control-plaintext(type='text', readonly='', value=name)
	.form-group.row
		label.col-sm-2.col-form-label(for='foodPrice') Food Price
	.col-sm-10
		input#staticEmail.form-control-plaintext(type='text', readonly='', value=price)
	.form-group.row
		label.col-sm-2.col-form-label(for='foodPop') Food Popularity
	.col-sm-10
		input#staticEmail.form-control-plaintext(type='text', readonly='', value=popularity)

