
extends ../layout

block content
	nav(aria-label='breadcrumb')
		ol.breadcrumb
			li.breadcrumb-item
				a(href='/') Home
			li.breadcrumb-item
				a(href='/users/list') Users
			li.breadcrumb-item View
			li.breadcrumb-item.active(aria-current='page') #{uri}

	a.btn.btn-primary.btn-xs(href='/users/edit?id='+id, role='button') Edit

	.form-group.row
		label.col-sm-2.col-form-label(for='userName') User Name
	.col-sm-10
		input#staticEmail.form-control-plaintext(type='text', readonly='', value=name)
	.form-group.row
		label.col-sm-2.col-form-label(for='userYear') User Year
	.col-sm-10
		input#staticEmail.form-control-plaintext(type='text', readonly='', value=year)

